.vscode/**
.vscode-test/**
test/**
scripts/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE
node_modules/**/CHANGELOG*
node_modules/**/.eslintrc*
node_modules/**/.prettier*
node_modules/**/tsconfig.json
node_modules/**/*.d.ts
